<section id="end" class="py-5">
  <div class="container pt-5">
    <div class="row text-center">

      <div class="col-md-4">
        <div class="item">
          <h6>LOCATION</h6>
          <p>2215 John Daniel Drive <br>
            Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item">
          <h6>AROUND THE WEB</h6>
          <div class="d-flex justify-content-center align-items-center">
            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="icon"><i class="fa-brands fa-twitter"></i></div>
            <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
            <div class="icon"><i class="fa-solid fa-globe"></i></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item">
          <h6>ABOUT FREELANCER</h6>
          <p>Freelance is a free to use, <br> MIT licensed Bootstrap theme created by Route</p>
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="py-4">
  <p class="text-white text-center mb-0">© 2022 <span class="text-info">Taghreed Ashraf</span>  | All Rights Reserved</p>
</footer>